<div class="min-h-screen flex flex-col bg-gray-50">

    <!-- Navbar público -->
    <header class="bg-white border-b border-gray-200 sticky top-0 z-10">
        <div class="max-w-6xl mx-auto px-6 h-14 flex items-center justify-between">

            <!-- Logo -->
            <div class="flex items-center gap-2.5">
                <div class="w-10 h-10 bg-red-500 rounded-lg flex items-center justify-center shrink-0">
                    <svg class="w-8 h-8 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                        <!-- Base del pastel -->
                        <rect x="3" y="10" width="18" height="10" rx="2"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>

                        <!-- Parte superior (rebanada) -->
                        <path stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            d="M3 10L12 5L21 10"/>

                        <!-- Relleno ondulado -->
                        <path stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            d="M5 14c2-2 4 2 6 0s4-2 6 0"/>

                        <!-- Cereza -->
                        <circle cx="12" cy="6" r="1.5" stroke-width="1.5"/>
                        <path stroke-width="1.5" stroke-linecap="round"
                            d="M12 4c0-1.5-1-2.5-2-3"/>
                    </svg>
                </div>

                <span class="text-sm font-bold text-gray-900">BakePOS</span>
            </div>

            <!-- Búsqueda -->
            <div class="relative w-64 hidden sm:block">
                <svg class="absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 text-gray-400"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-4.35-4.35M17 11A6 6 0 1 1 5 11a6 6 0 0 1 12 0z"/>
                </svg>

                <input
                type="text"
                placeholder="Buscar productos..."
                class="w-full pl-9 pr-4 py-2 text-sm bg-gray-50 border border-gray-200 rounded-lg
                focus:outline-none focus:ring-2 focus:ring-red-400 focus:border-transparent" />
            </div>

            <!-- Acciones -->
            <div class="flex items-center gap-3">
                <a routerLink="/login" class="text-sm font-medium text-gray-600 hover:text-red-500 transition-colors" >
                Iniciar sesión
                </a>

                <a routerLink="/login" class="text-sm font-semibold bg-red-500 hover:bg-red-600 text-white
                px-4 py-2 rounded-lg transition-colors" >
                Acceder
                </a>
            </div>

        </div>
    </header>

    <!-- Contenido de la vista -->
    <main class="flex-1">
        <router-outlet/>
    </main>

    <!-- Footer -->
    <footer class="bg-white border-t border-gray-200 mt-auto">
        <div class="max-w-6xl mx-auto px-6 py-6 flex flex-col sm:flex-row items-center justify-center gap-2">

            <div class="w-7 h-7 bg-red-500 rounded-lg flex items-center justify-center shrink-0">
            <svg class="w-5 h-5 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <!-- Base del pastel -->
                <rect x="3" y="10" width="18" height="10" rx="2"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>

                <!-- Parte superior (rebanada) -->
                <path stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    d="M3 10L12 5L21 10"/>

                <!-- Relleno ondulado -->
                <path stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    d="M5 14c2-2 4 2 6 0s4-2 6 0"/>

                <!-- Cereza -->
                <circle cx="12" cy="6" r="1.5" stroke-width="1.5"/>
                <path stroke-width="1.5" stroke-linecap="round"
                    d="M12 4c0-1.5-1-2.5-2-3"/>
            </svg>
        </div>

            <span class="text-xs text-gray-500">© 2026 BakePOS.</span>
            <span class="text-xs text-gray-500">Fryda Renata Lara López.</span>
            <span class="text-xs text-gray-500">Aplicaciones Web Escalables</span>

        </div>
    </footer>
</div>