<div class="max-w-6xl mx-auto px-6 py-10">

    <div class="mb-8 flex flex-col sm:flex-row sm:items-end justify-between gap-4">
        <div>
            <h1 class="text-3xl font-bold text-gray-900">Nuestro Catálogo</h1>
            <p class="text-gray-500 mt-2 text-sm">Productos frescos elaborados diariamente para ti.</p>
        </div>

        <div class="relative w-full sm:w-72">
            <svg class="absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 text-gray-400"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-4.35-4.35M17 11A6 6 0 1 1 5 11a6 6 0 0 1 12 0z"/>
            </svg>

            <input
                type="text"
                [value]="termino()"
                (input)="onBusqueda($event)"
                placeholder="Buscar productos..."
                class="w-full pl-9 pr-9 py-2.5 text-sm bg-white border border-gray-200 rounded-lg
                    focus:outline-none focus:ring-2 focus:ring-red-400 focus:border-transparent"
            />
            @if (termino()) {
                <button
                (click)="limpiarBusqueda()"
                class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-600" >
                    <svg class="w-3.5 h-3.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            }
        </div>
    </div>

    <div class="mb-8 space-y-2">

        <div class="flex items-center gap-2 flex-wrap">

            <button
                (click)="limpiarFiltro()"
                class="px-4 py-2 rounded-full text-sm font-medium border transition-colors"
                [class.bg-red-500]="!categoriaActivaId() && !padreActivoId()"
                [class.text-white]="!categoriaActivaId() && !padreActivoId()"
                [class.border-red-500]="!categoriaActivaId() && !padreActivoId()"
                [class.border-gray-200]="!!categoriaActivaId() || !!padreActivoId()"
                [class.text-gray-600]="!!categoriaActivaId() || !!padreActivoId()" >
                Todos
            </button>

            @for (cat of categoriasPrincipales; track cat._id) {
                <button
                    (click)="seleccionarPrincipal(cat)"
                    class="px-4 py-2 rounded-full text-sm font-medium border transition-colors flex items-center gap-1 cursor-pointer"
                    [class.bg-red-500]="estaActiva(cat._id)"
                    [class.text-white]="estaActiva(cat._id)"
                    [class.border-red-500]="estaActiva(cat._id)"
                    [class.hover:bg-red-600]="estaActiva(cat._id)"
                    [class.border-gray-200]="!estaActiva(cat._id)"
                    [class.text-gray-600]="!estaActiva(cat._id)"
                    [class.hover:bg-gray-100]="!estaActiva(cat._id)">

                {{ cat.nombre }}

                @if (subcategorias | tieneHijos: cat._id) {
                    <svg class="w-3.5 h-3.5 transition-transform"
                    [class.rotate-180]="padreActivoId() === cat._id"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                    </svg>
                }

                </button>
            }

        </div>

        @if (mostrarSubcategorias) {
            <div class="flex items-center gap-2 flex-wrap pl-4 border-l-2 border-red-200">
                @for (sub of subcategoriasVisibles; track sub._id) {
                    <button
                        (click)="seleccionarSubcategoria(sub)"
                        class="px-3 py-1.5 rounded-full text-xs font-medium border transition-colors cursor-pointer"
                        [class.hover:bg-red-200]="estaActiva(sub._id)"
                        [class.hover:bg-gray-100]="!estaActiva(sub._id)"
                        [class.bg-red-100]="estaActiva(sub._id)"
                        [class.text-red-700]="estaActiva(sub._id)"
                        [class.border-red-300]="estaActiva(sub._id)"
                        [class.border-gray-200]="!estaActiva(sub._id)"
                        [class.text-gray-500]="!estaActiva(sub._id)" >
                        {{ sub.nombre }}
                    </button>
                }
            </div>
        }

    </div>

    @if (cargando()) {
        <div class="flex justify-center py-24 text-gray-400 text-sm">
        Cargando productos...
        </div>
    }

    @if (error()) {
        <div class="flex justify-center py-24 text-red-400 text-sm">
        {{ error() }}
        </div>
    }

    @if (!cargando() && !error()) {
        @if (productosFiltrados().length > 0) {
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            @for (producto of productosFiltrados(); track producto._id) {
            <app-card-producto [producto]="producto"/>
            }
        </div>
        } @else {
        <div class="flex flex-col items-center justify-center py-24 text-gray-400">
            <svg class="w-12 h-12 mb-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2 9m5-9v9m4-9v9"/>
            </svg>
            <p class="text-sm">No hay productos en esta categoría.</p>
        </div>
        }
    }
</div>